services:
  {{ container_name }}:
    image: {{ image_name }}:{{ image_tag }}
    restart: always
    container_name: {{ container_name }}
    networks:
      - {{ docker_network }}

networks:
  {{ docker_network }}:
    external: true
